[Desktop Entry]
Encoding=UTF-8
Name=Toolbox
Type=Link
URL=http://127.0.0.1:6070/
Icon=~/var/www/toolbox-offline-exporter/templates/static/images/icon.png
