 {% extends "base.html" %}


{% block content %}
 <div class="col-lg-8 mx-auto p-3 py-md-5">
 <div class="row">
      <div class="col">

 <p class="fs-5 col-md-12" style="text-align: center; background-color: red">TOOLBOX not Configure .Please try the steps below :</p>

<ol class="list-group list-group-numbered">
  <li class="list-group-item">If this is a fresh installation then run <b>./setup.py </b> script</li>
  <li class="list-group-item">Else run   <b>./reconfig.py </b></li>
  <li class="list-group-item">Make sure you have good internet connected to setup Toolbox</li>
</ol>
</div>
 </div>
 </div>

 {% endblock %}




